 /* Basic layout  */

* {
  	box-sizing: border-box;
}

li {
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'El Messiri', sans-serif;
  	line-height: 1.4;
    background-color: #1d1d2c;
    text-align: center;
}

a {
    text-decoration: none;
}

h2{
    font-size: 34px;
}

h1,
a,
h2,
h3,
h4
 {
    color: #EBA63F;
}

h2 {
    text-decoration: underline;
}

p {
    color:#7DA2A9;
    font-family: 'Rasa', serif;
    font-size: 20px;
}

img {
 	   max-width: 100%;
}

h3 {
    padding: 5px;
    font-size: 24px;
}

/* header layout CSS  */

.m-header {
    max-width: 90%;
    margin: 0 auto 15px;
}

.heading-name {
    margin-top: 20px;
    font-size: 42px;
    font-weight:bold;
    text-shadow: 0.5px 0.5px 2px #F7F4E9;
}

.main-nav {
  	margin-top: 5px;
}

.heading-name a,
.main-nav a {
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 5px 10px;
}

.main-nav li {
    background-color: #F7F4E9;
    border-radius: 10px;
}

.main-nav a {
		text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.main-nav a:hover {
    color: #1d1d2c;
}

/* banner layout CSS  */

.banner {
    max-width: 90%;
    margin: 5px auto 10px;
}

.profile-image-size {
    width: 80%;
    border-radius: 10px;
}

.banner-image {
    padding: 20px 0;
}

.banner-intro {
    padding:0;
}

.banner-intro p {
    color: #c1a754;
    text-align:center;
    padding: 10px;
}

/* portfolio section CSS  */

.portfolio-details {
    background-color: #F7F4E9;
    padding: 20px 0;
    max-width: 100%;
}

.h2-portfolio {
    margin: 10px 0;
}

.blocks {
    width: 90%;
    margin: 30px auto;
    padding-bottom: 10px;
}

.blocks p {
    padding: 0;
}

/* Skills section CSS  */

.skill-details {
    padding: 40px 40px 50px;
    margin: 0 auto;
}

.skill-details li {
    list-style:square;
    display:inline-block;
    font-family: 'Rasa', serif;
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px;
    color: #1D1D2C;
    background-color: #F7F4E9;
    border-radius: 30px;
    box-shadow: 2px 2px 1px 1px #EBA63F,
                -2px -2px 1px 1px #EBA63F;
}

.skill-details p {
    padding: 0 20px;
    margin-top: 10px;
}

.skill-details ul{
    padding-top: 10px;
}

/* Contact section CSS  */

.contact-details {

    padding: 20px;
    margin: 10px auto;
    background-color: #F7F4E9;
}

.contact-details h2, p{
    padding: 10px 0;
}

/* Footer section CSS  */

.footer {
    border-top: 0.1px solid #F7F4E9;
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.footer-nav {
    display: none;
}

.footer-name {
    position: absolute;
    font-size: 18px;
}

.footer-tag {
    text-align: right;
    color: #515151;
}

.footer-tag a:hover {
      color: #F7F4E9;
}

/*Media Queries for 768px */

@media (min-width: 768px) {

/* header section CSS  */
.main-nav li {
      display: inline-block;
  }

.main-nav a {
    background-color: #1d1d2c;
    margin: 0;
    text-shadow: 0.5px 0.5px 2px #F7F4E9;
}

.main-nav a:hover {
    color: #F7F4E9;
}

.heading-name{
      margin: 20px 0 5px 0;
}

/* banner section CSS  */

.banner-image {
      float: right;
      padding: 0;
      margin: auto;
      width: 40%;
}
.profile-image-size {
    width: 90%;
}

.banner-intro {
      margin: auto;
      padding-right: 10px;
      padding-left: 10px;
      float: left;
      width: 60%;
}

.banner-intro p {
    padding: 2px;
    font-size: 18px;
    text-align: left;
}

.banner {
  padding-bottom: 10px;
}

.floater {
    float: left;
}

.blocks{
    width: 40%;
    margin: 20px 35px;
    padding-left: 15px;
}

.blocks p {
    padding: 2px 5px;
    font-size: 16px;
}

.portfolio-details {
    margin: 0 auto;
    padding: 5px;
}

/* clearfix class to fix floaters layout  */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

 /* skill section layout  */

.skill-details ul {
    padding-bottom: 20px;
}

.skill-details {
    padding: 50px;
}

 /* contact section layout  */

.contact-details p {
    padding: 40px;
}

/* footer section layout  */

.footer-tag {
    display: none;
}

.footer {
    padding: 20px;
    margin: 30px auto 0;
}

.footer-nav {
    display: block;

}

.footer-nav li {
  display: inline-block;
  padding: 5px;
  float: right;
}

}

 /* media Q for 1024px */

 @media (min-width: 1024px) {

/* header section */

.heading-name {
    position: absolute;
    padding: 5px;
    margin: 0 auto;
}

.main-nav {
    float: right;
    margin: 10px auto;
}

.m-header {
    max-width: 1150px;
    border-bottom: 10px;
    padding: 20px;
    margin: 0 auto 5px;
}

/* banner section */

.banner {
    margin: 5px auto;
    max-width: 1150px;
    padding: 10px;
}

.banner-intro p{
    font-size: 20px;
    padding: 20px;
}

/* portfolio section */

.portfolio-details {
    max-width: 1150px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}

.h2-portfolio {
    padding: 0 10px;
}

.blocks{
    max-width: 30%;
    margin: 20px 15px;
}

.contact-details {
    margin: 5px auto;
    max-width: 1150px;
    border-radius: 5px;
}

.contact-details p {
    padding: 20px
}

.floater {
    margin: 10px 15px;
}

}
